html {
  scrollbar-width: thin;
  scrollbar-color: #b58900 transparent;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --primary: #b58900;
  --secondary: #d3a000;
  --bg: #ffffff;
  --text: #000000;
}

body.dark {
  --primary: #d3a000;
  --secondary: #b58900;
  --bg: #282c35;
  --text: #ffffff;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: var(--secondary);
  color: var(--text);
}
